@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: corrida;
    src: url(../fontes/HighVoltage\ Heavy\ Rough.ttf);
}

body
{
    background: linear-gradient(to bottom, #0b0233, #220ccd, #bd72f2)
}

.cabecalho{
    text-align: center;
    margin-top: 40px;
    font-family: roboto;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho > a{
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.cabecalho > a:hover{
    background-color: white;
    color: black;
    border-radius: 202px;
    font-size: 1.6em;
    transition-duration: 0.5s;
}

.titulo
{
    width: 100%;
    display: flex;
    color: #c9c5eb;
    font-size: 4.6em;
    font-family: roboto;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
}

main{
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    border-radius: 25px;
    background: linear-gradient(to bottom, #bd72f2, rgba(255, 255, 255, 0.61))
}

main > p > a:hover{
    color: white;
    transition-duration: .4s;
}


main > h1{
    font-family: corrida;
    font-size: 3.5em;
    color: black;
    margin-top: 0px;
    background-image: linear-gradient(to right, #bd72f2, rgba(255, 255, 255, 0.342));
    padding-left: 5px;
    border-radius: 20px;
}

main > p{
    font-family: roboto;
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
}

main > img{
    display: block;
    margin: auto;
    width: 70%;
    height: 80%;
    border-radius: 15px;
}

.lista{
    font-size: 23px;
    text-align: justify;
    margin: auto;
}

#titulo2{
    font-family: corrida;
    font-size: 3.5em;
    color: black;
    margin-top: 0px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.342), #bd72f2);
    padding-left: 5px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#titulo3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: black;
    font-weight: bold;
}

main > iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.tabela{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

th{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 5px;
    text-decoration: underline;
}

td{
    font-size: 20px;
    font-family: roboto;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
}

.paragrafofinal{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:3em ;
    color: wheat;
    margin-top: 30px;
}

footer{
    border-top: 20px;
    font-size: 1.2em;
    text-align: center;
    background-image: linear-gradient(to right, white, );
}

footer > a{
    font-family: corrida;
    text-decoration: none;
    color: black;
    font-size: 2.3em;
    border-top: 20px;
    text-align: center;
}

footer > a:hover{
    color: white;
    transition-duration: .4s;
}